<html>
    <head>
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comic+Neue:wght@300&family=Yanone+Kaffeesatz&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/style.css">
        <script src="js/index.js"></script>
        <title>BookSite Repo</title>
        <link rel="shortcut icon" href="images/favicon.ico" />
        <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
    </head>
<body>
    <%- body %>
</body>
</html>